[Desktop Entry]
Type=Application
Name=Roam
Comment=Automatically move between your selected Wi-Fi networks
Exec=roam-ui
Icon=org.roam.WifiRoaming
Terminal=false
Categories=GTK;Network;Utility;
StartupNotify=true
